<!--articles/templates/articles/article_list.html -->
{% extends "articles/base.html" %}

{% block title %}Articles{% endblock %}

{% block content %}

<h1>Articles</h1>

<p><a href="{% url 'article_create' %}"> New Article</a></p>

<ul>
    {% for article in articles %}
    <li>
        <h2>
            <a href="{% url 'article_detail' article.public_id %}">
                {{ article.public_id }}
            </a>
        </h2>
        {% if article.location %}
        <p><strong>Location:</strong> {{ article.location }}</p>
        {% endif %}
        <p>
            {{ article.content|truncatewords:20 }}
            <a href="{% url 'article_detail' article.public_id %}">Read more</a>
        </p>
    </li>
    {% empty %}
    <li>No articles available.</li>
    {% endfor %}
</ul>
{% endblock %}
